﻿@page
@model RazorPages.IndexModel


<br />
<div class=" =container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-dark">Lista Książek</h2>

    </div>
    <div class=" col-3">
        <a asp-page="Create" class="btn btn-success from-control text-white">Dodaj</a>

    </div>


    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Book.Count() > 0)
            {
                <table class=" table">
                    <tr class="thead-dark">
                        <th>
                            <label asp-for="Book.FirstOrDefault().Nazwa"></label>
                        </th>
                        <th>
                            <label asp-for="Book.FirstOrDefault().Autor"></label>
                        </th>
                        <th>
                            <label asp-for="Book.FirstOrDefault().ISBN"></label>
                        </th>
                        <th>

                    </tr>
                    @foreach (var item in Model.Book)
                    {
                        <tr>
                            <td>
                                @item.Nazwa

                            </td>
                            <td>
                                @item.Autor
                            </td>
                            <td>
                                @item.ISBN
                            </td>

                            <td>
                                <a asp-page="Edit" asp-route-id="@item.ID" type="button" class="btn btn-warning text-white">Edytuj</a>
                                <button asp-page-handler="Delete" asp-route-id="@item.ID" onclick="return confirm('Czy chcesz na stałe usunąć ten rekord?')" class="btn btn-danger">Usuń</button>

                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>Brak dostępnych książek</p>
            }
        </form>

    </div>


    <div class="col-12" style="text-align:center">
        <br />
        <span class="h3 text-info">DRUGA WERSJA</span>
        <br /><br />
    </div>
         



    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Autor</th>
                    <th>ISBN</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    </div>
    @section Scripts{
        <script src="~/js/bookList.js"></script>
    }


