﻿@page
@model RazorPages.UpsertModel



<br />
<h2 class="text-info">Edytuj książkę</h2>
<br />

<div class=" border container" style="padding:30px;">
    <form method="post">
        <input type="hidden" asp-for="Book.ID" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Book.Nazwa">Tytuł ksiązki:</label>
            </div>
            <div class="col-6">
                <input asp-for="Book.Nazwa" class="form-control" />
            </div>
            <span asp-validation-for="Book.Nazwa" class="text-danger"></span>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Book.Autor">Autor ksiązki:</label>
            </div>
            <div class="col-6">
                <input asp-for="Book.Autor" class="form-control" />
            </div>
            <span asp-validation-for="Book.Autor" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="col-4">
                <label asp-for="Book.ISBN">Numer ISBN:</label>
            </div>
            <div class="col-6">
                <input asp-for="Book.ISBN" class="form-control" />
            </div>
            <span asp-validation-for="Book.ISBN" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-4">
                <input type="submit" value="Edytuj" class="btn btn-success form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-primary form-control">Powrót do listy</a>
            </div>
        </div>

    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}


